.footer {
    background: #191919;
    color: #fff;
    margin-top: 100px;
    padding: 50px 0;

    &__container {
        display: grid;
        grid-template-columns: 6fr 2fr 2fr;
        gap: 30px;
        margin-left: 50px;
    }

    &__box-list {
        display: flex;
        margin-bottom: 30px;
        gap: 30px;
    }

    &__box-list li {
        display: block;
    }

    &__box:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    &__box-link {
        font-size: 15px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: rgba(255, 255, 255, 0.1);
        margin-right: 20px;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}