header {

    .header__container {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 80px;
        transition: 0.5s;
        z-index: 100;
    }

    .header__logo {
        font-size: 35px;
        color: var(--color-white);
        letter-spacing: 2px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
    }

    .header__nav-sidebar {
        position: fixed;
        top: 7px;
        right: 0;
        width: 250px;
        z-index: 200;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: black;

        li {
            list-style: none;
            margin: 0 20px;
            padding: 10px 12px;
            border-radius: 10px;
        }

        li:first-child {
            cursor: pointer;
        }

        li a {
            color: var(--color-white);
            text-decoration: none;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .header__nav-list {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            margin: 0 10px;
            padding: 10px 12px;
            border-radius: 10px;
        }

        li:last-child {
            display: none;
            cursor: pointer;
        }

        li:hover {
            background-color: red;
        }

        li a {
            color: var(--color-white);
            text-decoration: none;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    @media (max-width:576px) {
        .hide {
            display: none;
        }

        .header__nav-list li:last-child {
            display: block;
        }
    }
}