header {
    .header__container {
        position: relative;
        background-color: black;
        display: flex;
        justify-content: flex-end;
        gap: 100px;
        align-items: center;
        padding: 30px 60px;
        transition: 0.5s;
        z-index: 100;
    }

    .header__logo {
        position: absolute;
        left: 60px;
        font-size: 35px;
        color: var(--color-white);
        letter-spacing: 2px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
    }

    .header__nav-sidebar {
        position: fixed;
        top: 26px;
        width: 100px;
        z-index: 200;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 10px;
        background-color: black;
    }

    .header__nav-sidebar.open {
        display: flex;
    }

    .header__nav-sidebar li {
        list-style: none;
        margin-left: 20px;
        padding: 10px 0;
    }

    .header__nav-sidebar li:first-child {
        cursor: pointer;
    }

    .header__nav-sidebar li a {
        color: var(--color-white);
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .header__nav-list {
        display: flex;
        align-items: center;
    }

    .header__nav-list li {
        list-style: none;
        margin: 0 5px;
        padding: 5px 8px;
        border-radius: 6px;
    }

    .header__nav-list li:last-child {
        display: none;
        cursor: pointer;
    }

    .header__nav-list li a {
        color: var(--color-white);
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.3s;
    }

    @media (max-width: 576px) {
        .header__nav-list .hide {
            display: none;
        }

        .header__nav-list li:last-child {
            display: block;
            position: absolute;
            right: 23%;
        }
    }

}