html {
    font-size: 1px;
}

body {
    background-image: url('../../../public/images/loveDeathRobots.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 700rem;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 1600rem;
    }
}

.wrapper {
    overflow: hidden;
}