html {
    font-size: 1px;
}

body {
    background-color: var(--color-black);
    transition: background-image 0.5s ease-in-out;
}

.container {
    width: 100%;
    max-width: 700rem;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 1600rem;
    }
}

.wrapper {
    overflow: hidden;
}