// Global
body {
    background-color: black;
    color: white;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

// <=============================================================>