// Section hero
.hero {
    color: var(--color-white);

    &__container {
        display: flex;
        justify-content: center;
    }

    &__card {
        width: 800rem;
        background-color: rgba(40, 47, 51, 0.5);
        display: flex;
        flex-direction: column;
        gap: 29rem;
        margin-top: 100rem;
        padding: 20rem 20rem;
        border-radius: 20rem;

        &_title {
            font: var(--home-hero-title-font);
            width: 457rem;
        }

        &_info-desc1 {
            font: var(--home-hero-card-desc1-font);
            width: 351rem;
            height: 20rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            p {
                padding: 0 5rem;
            }

            p:nth-child(2) {
                border-left: 2rem solid var(--color-grey);
            }

            p:nth-child(3) {
                border-left: 2rem solid var(--color-grey);
                border-right: 2rem solid var(--color-grey);
            }

            p:nth-child(4) {
                border-right: 2rem solid var(--color-grey);
            }

        }

        &_info-desc2 {
            font: var(--home-hero-card-desc1-font);
            display: flex;
            flex-direction: column;
            gap: 10rem;
            margin: 10rem 0;

            p {
                padding-left: 5rem;
            }

            span {
                margin-right: 10rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &_info-desc3 {
            font: var(--home-hero-card-desc2-font);
            padding-left: 5rem;
        }

        &_buttons {
            display: flex;
            gap: 16rem;

            &-btn {
                width: 144rem;
                height: 48rem;
                color: var(--color-black);
                border-radius: 8rem;
                border: 1rem solid var(--color-grey);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            &-btn:nth-child(2) {
                background: var(--color-yellow);
            }
        }
    }

    @media only screen and (min-width: 768px) {
        &__container {
            display: block;
        }
    }
}

// Section hero END

// Section cards
.cards {
    margin-top: 50rem;

}

// Section cards END