.card {
    display: flex;
    margin: 50px 0 50px 70px;
    gap: 50px;

    img {
        height: 750px;
        max-width: 500px;
        border-radius: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            width: 500px;
        }
    }
}