// Card
.card {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 70px;
    gap: 50px;
    position: relative;

    img {
        height: 800px;
        max-width: 550px;
        border-radius: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left: 32%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 20px;

        &-title {
            font: var(--card-title-font);
            letter-spacing: 1.6px;
        }

        &-desc1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: rgb(114, 111, 111);
            padding: 10px;
            border-radius: 10px;
            font: var(--card-desc1-font);
            letter-spacing: 1px;
        }

        &-desc2 {
            font: var(--card-desc2-font);
            letter-spacing: 1.4px;
        }

        p {
            width: 700px;
        }
    }

    @media (max-width: 1600px) {
        &__info {
            position: absolute;
            left: 40%;

            &-title {
                font: var(--card-title-laptop-font);
                letter-spacing: 1.6px;
            }

            &-desc1 {
                font: var(--card-desc1-laptop-font);
                letter-spacing: 1px;
            }

            &-desc2 {
                font: var(--card-desc2-laptop-font);
                letter-spacing: 1.4px;
            }

            p {
                width: 700px;
            }
        }
    }

    &__frame {
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        max-width: 1100px;
        max-height: 610px;
        border-radius: 20px;

        iframe {
            padding: 20px 25px;
            border-radius: 40px;
        }
    }
}

// <=============================================================>

// Card mobile
// @media (max-width: 576px) {
//     .card {
//         margin: 30px auto;
//         align-items: center;

//         img {
//             max-width: 90%;
//         }

//         &__info {
//             position: static;
//             left: auto;
//             width: 90%;

//             &-title {
//                 font: var(--card-title-mobile-font);
//                 letter-spacing: 1.6px;
//                 text-align: center;
//             }

//             &-desc1 {
//                 font: var(--card-desc1-mobile-font);
//                 letter-spacing: 1.2px;
//             }

//             &-desc2 {
//                 font: var(--card-desc2-mobile-font);
//                 padding-left: 10px;
//             }

//             p {
//                 width: auto;
//             }
//         }

//         iframe {
//             width: 500px;
//             height: 350px;
//         }
//     }
// }

// <=============================================================>