.card {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 70px;
    gap: 50px;
    position: relative;

    img {
        height: 750px;
        max-width: 600px;
        border-radius: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left: 35%;

        p {
            width: 500px;
        }
    }
}

@media (max-width: 576px) {
    .card {
        margin: 30px auto;
        align-items: center;
        text-align: center;

        img {
            max-width: 90%;
        }

        &__info {
            position: static;
            left: auto;
            width: 90%;

            p {
                width: auto;
                margin: 0;
            }
        }

        iframe {
            width: 500px;
            height: 350px;
        }
    }
}