#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}

.swiper-slide img {
    width: 100%;
    height: 700rem;
    object-fit: cover;
}