.light {
    --bg-color: white;
    --color-text: black;
}

.dark {
    --bg-color: black;
    --color-text: white;
}

body {
    background-color: var(--bg-color);
    color: var(--color-text);
}

.header__theme {
    cursor: pointer;
    width: 70px;
    height: 40px;
    border: 1px solid;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;

    &-switch {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: black;
    }
}

.active {
    justify-content: flex-end;
}